<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
  <h1>Hello, Boolean!</h1>
  <div class="card-group">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1614436164055-703ea06fc9bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80">
    <div class="card-body">
      <h5 class="card-title">"Torta Floral Caribeña"</h5>
      <p class="card-text">Torta hecha de un queque esponjoso, relleno de crema y fresas, cubierta de frutillas, galletas con crema de frutilla y flores comestibles</p>
      <p class="card-text"><small class="text-muted">$20.000></p>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1641848421525-e1da6f1b67aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80">
    <div class="card-body">
      <h5 class="card-title">"Pie de Limón"</h5>
      <p class="card-text">Combinación de base crujiente, con relleno cremoso de limón y una capa de merengue</p>
      <p class="card-text"><small class="text-muted">$10.000></p>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1641848421644-a1603f016f51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
    <div class="card-body">
      <h5 class="card-title">"Torta fresa fresh"</h5>
      <p class="card-text"><Tiene un delicado sabor a vainilla y frutilla fresca, ideal para tardes de verano/p>
      <p class="card-text"><small class="text-muted">$15.000></p>
    </div>
  </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>

</html>
